{% extends "base.html" %}

{% block title %}
	<title>A&#42; Composition - Browse</title>
{% endblock %}

{% block statics %}

{% endblock %}

{% block contents %}
    <div class="container">
         <div class="page-header" id="banner">

		   {% if user.is_authenticated %}
      
		   <div class="row">
	       {% if query %}
	             <h1>Results</h1>
  	             <ol>
				
				{% for result in page.object_list %}
				<li> <a href=" {{ request.build_absolute_uri }}/browse/?id={{ result.object.questionid }}">{{ result.object.question|linebreaksbr }}</a></li>
	
	             {% empty %}
			           <h3> No Questions found</h3>
	             {% endfor %}
				 </ol>
 	
	             {% if page.has_previous or page.has_next %}
	                 <ul class="pager" style="float:left;">
	                     {% if page.has_previous %}
						 <li><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
						 {% else %}
						 <li class="previous disabled">
						 {% endif %}
						 &laquo; Previous
						 {% if page.has_previous%}
					     </a></li>
						 {% else %}
						 </li>
						 {% endif %}
	      
	                     {% if page.has_next %}
						 <li><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
						 {% else %}
						 <li class="previous disabled">	 
					     {% endif %}
						 Next &raquo;
						 {% if page.has_next %}
					     </a></li>
						 {% else %}
						 </li>
						 {% endif %}
	                 </ul>
	             {% endif %}
	         {% else %}
	             {# Show some example queries to run, maybe query syntax, something else? #}
	         {% endif %}
		   
         </div>
		 
		 {% else %}
		 <meta http-equiv="refresh" content="0;url=/login/?url=/search/?q={{query}}">
		 {% endif %}
     </div>

	
{% endblock %}
