{% extends "base.html" %}

{% block title %}
	<title>A&#42; Composition - Change Password</title>
{% endblock %}

{% block statics %}


{% endblock %}

{% block contents %}
	
    <div class="container">
         <div class="page-header" id="banner">
	 
           <div class="row">
           <div class="col-lg-6">
				
			 {% if canchange %}
	
			  <h1>Change Password</h1>
			
				 {% if errors %}
				 <div class="alert alert-dismissable alert-danger">
				   <button type="button" class="close" data-dismiss="alert">×</button>
		           <ul>
		               {% for error in errors %}
		               <li>{{ error }}</li>
		               {% endfor %}
		           </ul>
				 </div>
			     {% endif %}
				
				 <form method="post" class="form-horizontal" action="/changepassword/">
				 {% csrf_token %}
			     <fieldset>
			       <div class="form-group">
			         <label for="password" class="col-lg-2 control-label">Password</label>
			         <div class="col-lg-10">
					   <input type="password" class="form-control" name="password" id="password" value="{{password}}"/>
			         </div>
			       </div>
			       <div class="form-group">
			         <label for="cfmpassword" class="col-lg-2 control-label">Confirm Password</label>
			         <div class="col-lg-10">
					   <input type="password" class="form-control" id="cfmpassword" name="cfmpassword" value="{{cfmpassword}}" />
			         </div>
			       </div>
			       <div class="form-group">
			         <div class="col-lg-10 col-lg-offset-2">
					   <input type="hidden" class="form-control" id="username" name="username" value="{{ username}}" />
			           <button type="submit" class="btn btn-primary">Change password</button>
			         </div>
			       </div>
			     </fieldset>
			   </form>
			 
		 {% else %}
		 <h1>404 Error</h1>
		 <p>You have access a page that doesnt exists</p>
		 {% endif %}
	 </div>
	 </div>
   
   </div>			   



{% endblock %}
