{% extends "base.html" %}

{% block title %}
	<title>A&#42; Composition - Guides</title>
{% endblock %}

{% block statics %}


{% endblock %}

{% block contents %}
   
    <div class="container">
         <div class="page-header" id="banner">
	 
           <div class="row">
           <div class="col-lg-6">
   		   <h1>Step-by-step Guides</h1>
		<h2>Continuous Writing</h2>
		<p>3 Easy Steps to write a good Continuous composition</p>
	
	    <h2>Step 1:</h2>
		<h3>Writing Captivating Introductions</h3>
		<p>The introductory paragraph is important as it is the first impression you are giving your reader (and markers in an examination). As the saying goes, first impressions last. The introduction should lure the reader into the rest of the story. As such, it must capture the readers' interest. Your teacher will have to read and grade many compositions of the same title or subject. As such, an eye-catching introduction will make your composition stand out from the rest and whet his or her appetite for what is yet to come.</p>
		
	
	    <h2>Step 2:</h2>
		<h3>Fomulating Interesting and Varied plots</h3>	
		<p>After the introductory paragraph, the next few paragraphs are where the real action of your story lies. It is the plot, or story line, where the reader is taken on a journey through the ups and downs of your characters' experiences.</p>
		<p>A narrative composition consists of a main character and other sub-characters who face a problem of some sort. It is the writer's job to describe the problem faced, followed by a series of events as the characters try to resolve the problem until it is finally solved.</p>
		
		<p>For a given Composition question, there are usually many different plots a writer can think of. Use your imagination and let your creative juices flow. Just make sure that your plot makes sense and that given the limited length of your composition and the limited amount of time you have to write your story, avoid a plot that is too long and complicated that leaves the reader confused.</p>	
		
	
		
		<h2>Step 3:</h2>
	    <h3>Writing Memorable Conclusion</h3>
		<p>You have a great introduction, a terrific plot, a wide range of vocabulary, all elements of a good composition, but wait, make sure you leave a lasting impression with a well-written conclusion.</p>
		
		<p>The conclusion is your last chance to impress your readers or markers. A good conclusion provides a fitting round-up to your composition; it makes the whole story complete. Plan your composition, manage your time well, don't end up with a scenario where you don't have time to finish your story and are forced to end abruptly.
		
	     <h2>Stituational Writing</h2>
		<h3>Writing a good Stituational composition</h3>
		
		<p>Students are given an informatonal piece (for example, an advertisment, a notice, a receipe or a schedule) and are expected to make use of the given informatuon to write an email, a letter, a postcard etc to convey the information to someone else. No specific format is required and students will do fine by just following the instruction given with the question.</p>
			
		<p>Since the student is given guidelines on what to write, coupled with the fact that all information is already provided, the situational writing segement is a fairly easy one. Just make sure to use all the points given and include ALL relevant information. Do not waste time by adding your own irrelevant information that is not provided. Also pay attention to your spelling, punctuation and grammar.</p>
	
	
			  

	 </div>
	 </div>
   
   </div>			   



{% endblock %}
