<div class="btn-group manage-nav" role="group">
  <a href="/manage/" class="btn btn-default {% if active == "dashboard" %}active{% endif %}">Dashboard</a>
  <a href="/manage/questions/" class="btn btn-default {% if active == "questions" %}active{% endif %}">Questions</a>
  <a href="/manage/announcements/" class="btn btn-default {% if active == "announcements" %}active{% endif %}">Announcements</a>
  <a href="/manage/accounts/" class="btn btn-default {% if active == "accounts" %}active{% endif %}">Accounts</a>
  <a href="/manage/vocabulary/" class="btn btn-default {% if active == "vocabulary" %}active{% endif %}">Vivid Vocabulary</a>
  <a href="/manage/videos/" class="btn btn-default {% if active == "videos" %}active{% endif %}">Learning Videos</a>
  <a href="/manage/essays/" class="btn btn-default {% if active == "essays" %}active{% endif %}">Essay Marks</a>
</div>
