{% extends "base.html" %}

{% block title %}
	<title>A&#42; Composition - Browse</title>
{% endblock %}

{% block statics %}

<script type="text/javascript" charset="utf-8">

function loadQuestion(e){
 
	$("#main").children().hide();
	$( "#question" ).show();
	$( "#question" ).load(e);
}

function getQuestions(e){
	
	$("#main").children().hide();
	$("#" + e).show();
	
}
	
</script>
{% endblock %}

{% block contents %}	
    <div class="container">
		<div class="page-header" id="banner">
		<div class="row">
	           <div class="col-lg-4">
				 <br/>
				 <p>Categories</p>
	             {{list|safe}}
	           </div>
	           <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
	             {{content|safe}}
	           </div>
	     </div>
	</div>
	          
		 		
	   

{% endblock %}
