{% extends "base.html" %}

{% block title %}
	<title>A&#42; Composition - Watch {{title}}</title>
{% endblock %}

{% block statics %}
<script type="text/javascript" src="/static/scripts/jwplayer/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="K+VGLKxNgzN3D+1VpDYVaR0fLHCfHy3qQpLOPQ==";</script>
<style>
.list {
	list-style-type: none;
	max-height: 100px;
	overflow-y:scroll; 
}
</style>

{% endblock %}

{% block contents %}

    <div class="container">
         <div class="page-header" id="banner">
	 
           <div class="row">
             <div class="col-lg-12">
			 {% if superuser or user %}
			  <h1>{{title}}</h1>
			 	 
				 <div id="myElement">Loading the player...</div>

				 <script type="text/javascript">
				     jwplayer("myElement").setup({
				         file: "{{url}}",
						 title: "{{title}}",
						 width: '100%',
						 aspectratio: '16:9',
						 autostart: 'true',
						 primary: 'flash'
				         
				     });
				 </script>
		       {{content|safe}}  
               
			 </div>
           
           </div>
		 {% else %}
		 <h1>Error</h1>
		 <p>You are not allow to view this page</p>
		 {% endif %}
		
		   
         </div>


{% endblock %}
